networks:
  app-network:
    driver: bridge

services:
  # app:
  #   build: .
  #   image: chat-ai-fastapi
  #   container_name: chat-ai
  #   ports:
  #     - "8089:8089"
  #   environment:
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #     - REDIS_DB=0
  #   volumes:
  #     - ./logs:/app/logs
  #     - ./data:/app/data
  #   depends_on:
  #     - redis
  #   restart: always
  #   networks:
  #     - app-network
  # ollama:
  #   image: ollama/ollama
  #   container_name: ollama
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama
  #   restart: unless-stopped
  #   environment:
  #     - OLLAMA_KEEP_ALIVE=24h
  #     - OLLAMA_HOST=0.0.0.0:11434
  #   healthcheck:
  #     test: ["CMD", "curl","-f", "http://localhost:11434/api/tags"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  #     start_period: 30s
  #   networks:
  #     - app-network
  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  redis_data:
  # ollama_data:   